<html>
    <head>
         <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" type="text/css" />
         <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
         
         <link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css" />
         <link rel="stylesheet" href="static/css/dc.min.css" type="text/css" />
    </head>
    <body>
        {% block content %}
        {% endblock %}
        
        {% block head_js %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        
        
        <script type="text/javascript">
            $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
          });
          
        ////* View Counter */////  
          
        var n = localStorage.getItem('on_load_counter');
             if (n === null) {
              n = 0;
            }
            n++;
            
            localStorage.setItem("on_load_counter", n);
            
            nums = n.toString().split('').map(Number);
            document.getElementById('CounterVisitor').innerHTML = '';
            for (var i of nums) {
              document.getElementById('CounterVisitor').innerHTML += '<span class="counter-item">' + i + '</span>';
            }
            
            
        var element = document.getElementById("result");
        
	
	////* Like Counter */////
	
        function clickCounter(){
	            if (localStorage.clickcount) {
	                localStorage.clickcount = Number(localStorage.clickcount) + 1;
            	} else {
	                localStorage.clickcount = 1;
	            }
	            element.innerHTML = localStorage.clickcount;
        }

        window.onload = function() {
          element.innerHTML = localStorage.clickcount;
        };
          
          

        </script>
        {% endblock %}


        
    </body>
</html>