<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" type="text/css" />
  
  <link rel="stylesheet" href="assets/css/style.css" type="text/css" />
  
</head>
<body>

    <div class="jumbotron">
      <div class="container text-center">
        <h1>My Very Own Cook Book!</h1>      
        <p>Add and Share Recipes For Everyone To Enjoy!</p>
      </div>
    </div>


</body>

</html>