{% extends 'base.html' %}

{% block content %}


<div class="container">        
   <div class="row">
      <ul class="collapsible" data-collapsible="accordion">
        {% for recipe in recipes %}
        <li>
            <div class="collapsible-header">
                <div class="col s4">
                    <i class="material-icons">expand_more</i>
                </div>
                
                <div class="recipe_header col s9">
                    <strong>{{ recipe.category_name }} {{ recipe.recipe_name }} by {{ recipe.recipe_author }}</strong>
                </div>
            </div>
             <div class="collapsible-body">
              <span>
                  
                <strong>Ingredients:</strong><p>
                    {{recipe.ingredients}}</p>
                <br>
                  <strong>Directions:</strong> 
                  <p>{{recipe.directions}}</p>
                <br>
                <strong>Preparation Time:</strong> {{ recipe.prep_time }}
                <br>
                <strong>Cooking Time:</strong> {{ recipe.cooking_time }}
                <br>
                <div class="image" id="blah"></div>
              </span>
              
              
              
              
              
             </div>
              
            
        </li>
        {% endfor %}
      </ul>
      
      <div id="counterVisitor"></div>
   </div>
</div>   
{% endblock %}